n8n/Image- 4 references with optional 5th user upload-OpenAI 1.0.json
{
  "name": "Brand Studio - Image Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brand-studio-image",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-80, 240],
      "id": "a8729ea8-375e-45ed-bfcf-0352ebe526a2",
      "name": "Webhook",
      "webhookId": "brand-studio-image"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "debf3cda-50e8-4a56-b0bd-b61d32f2fe41",
              "leftValue": "={{ $input.item.json.body.passphrase }}",
              "rightValue": "={{$env.BRAND_STUDIO_PASSPHRASE}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [144, 240],
      "id": "f067c6e0-65b3-4192-82ed-290e6b358263",
      "name": "Authenticate Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Unauthorized\",\n  \"message\": \"Incorrect passphrase\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [368, 368],
      "id": "c0eb0d56-6fe7-42c1-a186-9352fe51b6c9",
      "name": "Return 401 Unauthorized"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-aspect",
              "name": "aspect",
              "value": "={{ $json.body.aspect || '16:9' }}",
              "type": "string"
            },
            {
              "id": "id-variants",
              "name": "variants",
              "value": "={{ $json.body.variants || 2 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [368, 112],
      "id": "88007adf-8a98-4b7b-bee5-ac1e3ded7962",
      "name": "Map Request Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-size",
              "name": "size",
              "value": "={{ $json.aspect === '1:1' ? '1024x1024' : ($json.aspect === '9:16' ? '1024x1536' : '1536x1024') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [592, 112],
      "id": "e96082d0-f8f0-46b3-982a-7e9b5fbb9a72",
      "name": "Prepare Generation Params"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').first().json.body.reference_image_1_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ref_image_1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [816, -160],
      "id": "f501242a-5571-4994-b1ed-bf4dcc5ccb26",
      "name": "Download Reference Image 1"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').first().json.body.reference_image_2_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ref_image_2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [816, 32],
      "id": "1a5e09fd-4922-4396-a2c7-0429b0683134",
      "name": "Download Reference Image 2"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').first().json.body.reference_image_3_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ref_image_3"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [816, 224],
      "id": "6af7ccca-4771-4616-9865-4e51e07da65c",
      "name": "Download Reference Image 3"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').first().json.body.reference_image_4_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ref_image_4"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [816, 416],
      "id": "4a5386f2-bd5f-41ef-8262-fe763ff7503a",
      "name": "Download Reference Image 4"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1072, 128],
      "id": "987925af-4e24-434f-a94d-7789f425cf9d",
      "name": "Merge Reference Images",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Flatten all 4 reference image items into a single item with all binary properties\nconst combined = { json: {}, binary: {} };\n\nfor (const item of $input.all()) {\n  if (Object.keys(combined.json).length === 0) {\n    combined.json = { ...item.json };\n  }\n  if (item.binary) {\n    for (const [key, val] of Object.entries(item.binary)) {\n      combined.binary[key] = val;\n    }\n  }\n}\n\nreturn [combined];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1296, 128],
      "id": "e760e2d4-1e59-4896-bbef-cc2bc3fcea85",
      "name": "Combine Reference Binaries"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').first().json.body.user_image_url || '' }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "rule-no-user-image"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No User Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').first().json.body.user_image_url || '' }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "rule-with-user-image"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "With User Image"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [1520, 128],
      "id": "e51a3ede-ab94-4be0-a822-73963e41b606",
      "name": "Route Generation Type"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "prompt": "={{ $('Webhook').first().json.body.system_prompt + '\\n\\n' + $('Webhook').first().json.body.prompt }}",
        "images": {
          "values": [
            { "binaryPropertyName": "ref_image_1" },
            { "binaryPropertyName": "ref_image_2" },
            { "binaryPropertyName": "ref_image_3" },
            { "binaryPropertyName": "ref_image_4" }
          ]
        },
        "n": "={{ $('Webhook').first().json.body.variants || 2 }}",
        "size": "={{ $('Prepare Generation Params').first().json.size }}",
        "quality": "={{ $('Webhook').first().json.body.quality || 'auto' }}",
        "outputFormat": "={{ $('Webhook').first().json.body.output_format || 'png' }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [1744, -48],
      "id": "acaddccf-23c4-42fc-bc8b-ec52569b445b",
      "name": "Generate Image",
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').first().json.body.user_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "user_image"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1744, 304],
      "id": "e91ef208-608d-4ecd-88ae-87db540815a0",
      "name": "Download User Image"
    },
    {
      "parameters": {
        "jsCode": "// Merge the 4 reference image binaries with the user image binary\nconst refItem = $('Combine Reference Binaries').first();\nconst userItem = $input.first();\n\nreturn [{\n  json: refItem.json,\n  binary: {\n    ...refItem.binary,\n    ...userItem.binary\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1968, 304],
      "id": "978c47fb-9b36-446c-967d-ca59a9736026",
      "name": "Combine All Images"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "prompt": "={{ $('Webhook').first().json.body.system_prompt + '\\n\\n' + $('Webhook').first().json.body.prompt }}",
        "images": {
          "values": [
            { "binaryPropertyName": "ref_image_1" },
            { "binaryPropertyName": "ref_image_2" },
            { "binaryPropertyName": "ref_image_3" },
            { "binaryPropertyName": "ref_image_4" },
            { "binaryPropertyName": "user_image" }
          ]
        },
        "n": "={{ $('Webhook').first().json.body.variants || 2 }}",
        "size": "={{ $('Prepare Generation Params').first().json.size }}",
        "quality": "={{ $('Webhook').first().json.body.quality || 'auto' }}",
        "outputFormat": "={{ $('Webhook').first().json.body.output_format || 'png' }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [2192, 304],
      "id": "c422e5a7-c804-494c-ad34-8ee1a71fd32c",
      "name": "Generate Image With User Upload",
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "bin",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [2416, 128],
      "id": "2a2fffa4-3d1b-4c00-ba3f-c83cd1bcaeb2",
      "name": "Convert to Base64"
    },
    {
      "parameters": {
        "jsCode": "// Collect all generated images and package as { images: [{mimeType, base64}] }\nconst images = [];\n\n$input.all().forEach(item => {\n  images.push({\n    mimeType: item.binary?.image?.mimeType || 'image/png',\n    base64: item.json.bin\n  });\n});\n\nreturn [{ json: { images } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 128],
      "id": "6ec58ef6-1acf-4190-b1d4-aa1eb15cee4c",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET,POST,OPTIONS" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2864, 128],
      "id": "153054ca-1a88-4aad-a825-7c14a17debfd",
      "name": "Return Success"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Authenticate Request", "type": "main", "index": 0 }]]
    },
    "Authenticate Request": {
      "main": [
        [{ "node": "Map Request Fields", "type": "main", "index": 0 }],
        [{ "node": "Return 401 Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Map Request Fields": {
      "main": [[{ "node": "Prepare Generation Params", "type": "main", "index": 0 }]]
    },
    "Prepare Generation Params": {
      "main": [[
        { "node": "Download Reference Image 1", "type": "main", "index": 0 },
        { "node": "Download Reference Image 2", "type": "main", "index": 0 },
        { "node": "Download Reference Image 3", "type": "main", "index": 0 },
        { "node": "Download Reference Image 4", "type": "main", "index": 0 }
      ]]
    },
    "Download Reference Image 1": {
      "main": [[{ "node": "Merge Reference Images", "type": "main", "index": 0 }]]
    },
    "Download Reference Image 2": {
      "main": [[{ "node": "Merge Reference Images", "type": "main", "index": 1 }]]
    },
    "Download Reference Image 3": {
      "main": [[{ "node": "Merge Reference Images", "type": "main", "index": 2 }]]
    },
    "Download Reference Image 4": {
      "main": [[{ "node": "Merge Reference Images", "type": "main", "index": 3 }]]
    },
    "Merge Reference Images": {
      "main": [[{ "node": "Combine Reference Binaries", "type": "main", "index": 0 }]]
    },
    "Combine Reference Binaries": {
      "main": [[{ "node": "Route Generation Type", "type": "main", "index": 0 }]]
    },
    "Route Generation Type": {
      "main": [
        [{ "node": "Generate Image", "type": "main", "index": 0 }],
        [{ "node": "Download User Image", "type": "main", "index": 0 }]
      ]
    },
    "Download User Image": {
      "main": [[{ "node": "Combine All Images", "type": "main", "index": 0 }]]
    },
    "Combine All Images": {
      "main": [[{ "node": "Generate Image With User Upload", "type": "main", "index": 0 }]]
    },
    "Generate Image": {
      "main": [[{ "node": "Convert to Base64", "type": "main", "index": 0 }]]
    },
    "Generate Image With User Upload": {
      "main": [[{ "node": "Convert to Base64", "type": "main", "index": 0 }]]
    },
    "Convert to Base64": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Return Success", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
