n8n/Video - First+Last Interpolation Veo3.1 v10.json
{
  "name": "Brand Studio - Video Generation (Veo 3.1)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brand-studio-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "27f40822-07aa-4639-9b52-61dbec06f17c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-2528, -128],
      "webhookId": "brand-studio-video"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-passphrase",
              "leftValue": "={{ $json.body.passphrase }}",
              "rightValue": "={{$env.BRAND_STUDIO_PASSPHRASE}}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e16a107b-3017-424e-9f08-c979fa75c8fb",
      "name": "Check Passphrase",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-2288, -128]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": {
          "responseCode": 401
        }
      },
      "id": "e969eb47-3643-4e12-afab-c82cc68d2738",
      "name": "Reject 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-2048, 64]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'accepted', generation_id: $json.body.generation_id }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "eb7e0ddc-357b-4342-ae39-79c862a809b1",
      "name": "Accept 202",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-2048, -144]
    },
    {
      "parameters": {
        "jsCode": "// Build a single state item that drives the IF-node submission loop.\n// All loop state lives in the JSON item — this persists correctly across\n// Wait node suspension/resume cycles (unlike SplitInBatches context).\n//\n// Fields:\n//   veoRequest      — the Veo API request body (same for every variation)\n//   total_count     — how many variations to generate (1-4)\n//   current_index   — which variation to submit next (starts at 0)\n//   operations      — accumulated submit results []\n//   generation_id   — passed through to callbacks\n//   user_id         — passed through to callbacks\n\nconst body = $('Check Passphrase').first().json.body;\n\nif (!body.first_frame_base64) throw new Error('Missing first_frame_base64 in request body');\n\nconst count = Math.min(Math.max(parseInt(body.sample_count) || 2, 1), 4);\n\nconst instance = {\n  prompt: body.prompt || 'smooth cinematic transition',\n  image: {\n    bytesBase64Encoded: body.first_frame_base64,\n    mimeType: body.first_frame_mime || 'image/jpeg'\n  }\n};\n\nif (body.last_frame_base64) {\n  instance.lastFrame = {\n    bytesBase64Encoded: body.last_frame_base64,\n    mimeType: body.last_frame_mime || 'image/jpeg'\n  };\n}\n\nconst veoRequest = {\n  instances: [instance],\n  parameters: {\n    aspectRatio:     body.aspect_ratio     || '16:9',\n    durationSeconds: parseInt(body.duration_seconds) || 8,\n    sampleCount:     1  // locked to 1 on preview tier; fan-out handles multi-variation\n  }\n};\n\nreturn [{\n  json: {\n    veoRequest,\n    total_count:   count,\n    current_index: 0,\n    operations:    [],\n    generation_id: body.generation_id,\n    user_id:       body.user_id\n  }\n}];"
      },
      "id": "c9dd68fb-7574-429e-b122-f77657fd07de",
      "name": "Build Veo Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1808, -144]
    },
    {
      "parameters": {
        "jsCode": "// Submit the variation at current_index, then increment the index.\n// This node is re-entered on every loop iteration via the Wait 31s → More to Submit? path.\n// State accumulates in the operations array carried in the JSON item.\n\n// Read API key from environment variable\nconst API_KEY  = $env.GOOGLE_AI_API_KEY;\nconst BASE_URL = 'https://generativelanguage.googleapis.com/v1beta';\nconst MODEL    = 'veo-3.1-generate-preview';\n\nconst state = $input.first().json;\nconst i     = state.current_index;\n\nlet operationName = null;\nlet submitError   = null;\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method:  'POST',\n    url:     `${BASE_URL}/models/${MODEL}:predictLongRunning`,\n    headers: {\n      'Content-Type':   'application/json',\n      'x-goog-api-key': API_KEY\n    },\n    body: state.veoRequest,\n    json: true\n  });\n\n  if (resp.name) {\n    operationName = resp.name;\n  } else {\n    submitError = `No operation name in response: ${JSON.stringify(resp).slice(0, 200)}`;\n  }\n} catch (err) {\n  submitError = `Submit failed: ${err.message}`;\n}\n\nconst newOp = {\n  variation_index: i,\n  operation_name:  operationName,\n  done:  !operationName,   // immediately done (with error) if no name\n  uri:   null,\n  error: submitError\n};\n\nreturn [{\n  json: {\n    ...state,\n    current_index: i + 1,\n    operations:    [...state.operations, newOp]\n  }\n}];"
      },
      "id": "8ecfc382-d8a8-4a5e-80c7-ab6ba200cd53",
      "name": "Submit At Index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1568, -144]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-more-to-submit",
              "leftValue": "={{ $json.current_index }}",
              "rightValue": "={{ $json.total_count }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1fa0b8bd-0167-4279-a0ec-3d41bd364c04",
      "name": "More to Submit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1328, -144]
    },
    {
      "parameters": {
        "amount": 31
      },
      "id": "15c4c291-8979-4258-a75e-9c7f7a879f79",
      "name": "Wait 31s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-1328, 64],
      "webhookId": "wait-31s-webhook"
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "f6b6a878-b815-4562-ab3a-84cfa563329c",
      "name": "Wait 20s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-1088, -144],
      "webhookId": "wait-20s-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Read API key from environment variable\nconst API_KEY  = $env.GOOGLE_AI_API_KEY;\nconst BASE_URL = 'https://generativelanguage.googleapis.com/v1beta';\n\nconst state      = $input.first().json;\nconst operations = state.operations.map(op => ({ ...op }));\n\n// Poll all pending ops IN PARALLEL — reduces runner hold time from N×T to T\nconst pollPromises = operations.map(async (op) => {\n  if (op.done || !op.operation_name) return op;\n\n  try {\n    const status = await this.helpers.httpRequest({\n      method:  'GET',\n      url:     `${BASE_URL}/${op.operation_name}`,\n      headers: { 'x-goog-api-key': API_KEY },\n      json:    true\n    });\n\n    if (!status.done) return op;\n\n    const updated = { ...op, done: true };\n\n    const samples =\n      status.response?.generateVideoResponse?.generatedSamples ||\n      status.response?.generatedSamples ||\n      [];\n\n    if (samples.length > 0 && samples[0].video?.uri) {\n      const rawUri = samples[0].video.uri;\n      updated.uri = rawUri.includes('?') ? rawUri : rawUri + '?alt=media';\n    } else if (status.error) {\n      updated.error = status.error.message || JSON.stringify(status.error);\n    } else {\n      updated.error = 'No video URI in completed response';\n    }\n\n    return updated;\n  } catch (err) {\n    return { ...op, done: true, error: `Poll error: ${err.message}` };\n  }\n});\n\nconst updatedOps = await Promise.all(pollPromises);\n\nreturn [{ json: { ...state, operations: updatedOps } }];"
      },
      "id": "4b491a1c-37de-4f13-a52f-787add008451",
      "name": "Poll All Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-848, -144]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-all-done",
              "leftValue": "={{ $json.operations.filter(op => !op.done).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cdece684-4ec3-45a6-bc10-cef7545a6343",
      "name": "All Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-608, -144]
    },
    {
      "parameters": {
        "amount": 25
      },
      "id": "a86261a4-98e9-4b76-9518-39e9b43abd96",
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-608, 64],
      "webhookId": "wait-15s-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Build the final videos[] and errors[] arrays from completed operations.\n\nconst state = $input.first().json;\n\nconst videos = state.operations\n  .filter(op => op.uri)\n  .sort((a, b) => a.variation_index - b.variation_index)\n  .map(op => ({ uri: op.uri, index: op.variation_index }));\n\nconst errors = state.operations\n  .filter(op => op.error)\n  .map(op => ({ index: op.variation_index, error: op.error }));\n\nreturn [{\n  json: {\n    videos,\n    video_count:   videos.length,\n    errors:        errors.length > 0 ? errors : undefined,\n    generation_id: state.generation_id,\n    user_id:       state.user_id\n  }\n}];"
      },
      "id": "6b38e72b-c164-4a13-83c6-7826fdbbe9f5",
      "name": "Extract All URIs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-368, -144]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-videos",
              "leftValue": "={{ $json.video_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "26c460a2-4ff3-480c-8a6f-ecf39bf9d9d5",
      "name": "Has Videos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-128, -144]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/functions/v1/video-generation-callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ passphrase: $env.BRAND_STUDIO_PASSPHRASE, generation_id: $json.generation_id, user_id: $json.user_id, status: 'complete', videos: $json.videos, video_count: $json.video_count, errors: $json.errors }) }}",
        "options": {}
      },
      "id": "68536a44-34ec-430c-a23e-f49ea3a161db",
      "name": "Callback - Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [112, -256]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/functions/v1/video-generation-callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ passphrase: $env.BRAND_STUDIO_PASSPHRASE, generation_id: $json.generation_id, user_id: $json.user_id, status: 'failed', error_message: ($json.errors || []).map(e => `[${e.index}] ${e.error}`).join('; ') || 'All variations failed' }) }}",
        "options": {}
      },
      "id": "aaafa509-1c6a-4e96-9bc7-2f972e74696f",
      "name": "Callback - Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [112, -32]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Check Passphrase", "type": "main", "index": 0 }]]
    },
    "Check Passphrase": {
      "main": [
        [{ "node": "Accept 202", "type": "main", "index": 0 }],
        [{ "node": "Reject 401", "type": "main", "index": 0 }]
      ]
    },
    "Accept 202": {
      "main": [[{ "node": "Build Veo Requests", "type": "main", "index": 0 }]]
    },
    "Build Veo Requests": {
      "main": [[{ "node": "Submit At Index", "type": "main", "index": 0 }]]
    },
    "Submit At Index": {
      "main": [[{ "node": "More to Submit?", "type": "main", "index": 0 }]]
    },
    "More to Submit?": {
      "main": [
        [{ "node": "Wait 31s", "type": "main", "index": 0 }],
        [{ "node": "Wait 20s", "type": "main", "index": 0 }]
      ]
    },
    "Wait 31s": {
      "main": [[{ "node": "Submit At Index", "type": "main", "index": 0 }]]
    },
    "Wait 20s": {
      "main": [[{ "node": "Poll All Status", "type": "main", "index": 0 }]]
    },
    "Poll All Status": {
      "main": [[{ "node": "All Done?", "type": "main", "index": 0 }]]
    },
    "All Done?": {
      "main": [
        [{ "node": "Extract All URIs", "type": "main", "index": 0 }],
        [{ "node": "Wait 15s", "type": "main", "index": 0 }]
      ]
    },
    "Wait 15s": {
      "main": [[{ "node": "Poll All Status", "type": "main", "index": 0 }]]
    },
    "Extract All URIs": {
      "main": [[{ "node": "Has Videos?", "type": "main", "index": 0 }]]
    },
    "Has Videos?": {
      "main": [
        [{ "node": "Callback - Complete", "type": "main", "index": 0 }],
        [{ "node": "Callback - Failed", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
